@charset "utf-8";
/* CSS Document */
#contenedor{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
	background-color:#727272;
}
#parte1{
    width: 100%;
	background-color:#727272;
}
#par1{
    width: 50%;
    text-align: center;
    background-color:#727272;
	float: left;
}
#par2{
    width: 50%;
    text-align: center;
    background-color:#727272;
	float: left;
}
#cont1{
    width: 50%;
    text-align: center;
    float: left;
    background-color: #727272;
}
#cont2{
    width: 50%;
    text-align: center;
    float: left;
    background-color: #727272;
}
#encabezado{
    width: 100%;
    background-color: #4B4B4B;
    border-radius: 0px;
}
#titulo{
    width: 100%;
    height: 50px;
    background-color: #4B4B4B;
    text-align: center;
}
#cuerpo{
    width: 100%;
	background-color:#727272;
	clear: both;
}
#pie{
    width: 100%;
    background-color:#727272;
	clear:both;
}
#pie1{
    width: 50%;
    float: left;
    height: 150px;
    background-color:#727272;
}
#pie2{
    width: 50%;
    float: left;
    height: 150px;
    background-color:#727272;
}
#menu{
	width: 100%;
	height: 50px;
	text-align: center;
}
img{
	width: 100px;
	height: 100px;
}